<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-04-29 22:50:22
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2024-03-20 10:04:08
 * @FilePath: /ruoyi+node/ruoyi-ui/src/views/index.vue
-->
<template>
  <div class="container-warp">index</div>
</template>

<script>
export default {
  name: "",
  data() {
    return {};
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {},
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 20px;
}
</style>
